.chat-container{
  height: 80vh;
  width: 100vw;
}
.chat{
  background-image: url("chatFundo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  font-weight: bold;
  color: white;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  border: 1px solid grey;
}

.footer{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}
.send-button{
  margin: 0 auto;
  height: 70%;
  width: 50%;
}
input{
  opacity: 0.5;
  float: left;
  height: 30px;
  border-radius: 15px;
  font-size: 1.5em;
}
.send{
  float: center;
  background-image: url("btn.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 5px;

}
