<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
<div style="text-align:center">
  <h1 style="color: white">{{title}}</h1>
  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    <button class="send" (click)="sendMessage(input.value)">
    </button>
    <label for="nome" style="color: white; float: left; margin-top: 7px; font-weight: bold" [hidden]="nomeado">Nome </label>
    <label for="nome" style="color: white; float: left; margin-top: 7px; font-weight: bold" [hidden]="!nomeado">Mensagem </label>
    <input  id="nome" type="text" [(ngModel)]="nome" [hidden]="nomeado" placeholder="Nome necessario">
    <input  id="input" type="text" #input [hidden]="!nomeado">
  </div>

</div>
</div>
